## **CH32845 - Data Science** 
#### *Primera Entrega*

### Dataset
- [Chocolate Bar Ratings](https://www.kaggle.com/datasets/evangower/chocolate-bar-ratings)  - Ratings of over 2,500 chocolate bars from around the globe

#### Análisis

Las variables potencialmente interesantes son:
- skkd
-
-
---

#### Carga de Datos

In [1]:
# Se importan las librerías necesarias.
import numpy as np
import pandas as pd

In [2]:
# Indicar las versiones de las librerías
import sys
print("Python version: {}".format(sys.version))
print("Numpy version: {}".format(np.__version__))
print("Pandas version: {}".format(pd.__version__))

Python version: 3.10.4 (main, Dec 19 2022, 20:24:16) [GCC 9.4.0]
Numpy version: 1.24.0
Pandas version: 1.5.2

In [3]:
# Leer los datos en PY
df = pd.read_csv('./data/chocolate_bars.csv')

#### Exploración de Datos

In [10]:
df

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00
...,...,...,...,...,...,...,...,...,...,...,...
2525,1205,Zotter,Austria,2014,Blend,Raw,80.0,4.0,"B,S*,C,Sa","waxy, cloying, vegetal",2.75
2526,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75.0,3.0,"B,S,C","strong nutty, marshmallow",3.75
2527,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75.0,3.0,"B,S,C","fatty, earthy, cocoa",3.00
2528,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70.0,3.0,"B,S,C","fatty, mild nuts, mild fruit",3.25
2529,2170,Zotter,Austria,2018,Belize,Maya Mtn,72.0,3.0,"B,S,C","muted, roasty, accessible",3.50

In [4]:
# qué tamaño tienen los datos?
df.shape

(2530, 11)

In [5]:
# qué tipos de datos tienen las columnas?
df.dtypes

id                    int64
manufacturer         object
company_location     object
year_reviewed         int64
bean_origin          object
bar_name             object
cocoa_percent       float64
num_ingredients     float64
ingredients          object
review               object
rating              float64
dtype: object

In [6]:
# qué info proporciona el DF?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2530 non-null   int64
 1   manufacturer      2530 non-null   object
 2   company_location  2530 non-null   object
 3   year_reviewed     2530 non-null   int64
 4   bean_origin       2530 non-null   object
 5   bar_name          2530 non-null   object
 6   cocoa_percent     2530 non-null   float64
 7   num_ingredients   2443 non-null   float64
 8   ingredients       2443 non-null   object
 9   review            2530 non-null   object
 10  rating            2530 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 217.5+ KB

In [7]:
# Primeros 5 datos del DF
df.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [8]:
# Últimos 5 datos del DF
df.tail()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
2525,1205,Zotter,Austria,2014,Blend,Raw,80.0,4.0,"B,S*,C,Sa","waxy, cloying, vegetal",2.75
2526,1996,Zotter,Austria,2017,Colombia,"APROCAFA, Acandi",75.0,3.0,"B,S,C","strong nutty, marshmallow",3.75
2527,2036,Zotter,Austria,2018,Blend,"Dry Aged, 30 yr Anniversary bar",75.0,3.0,"B,S,C","fatty, earthy, cocoa",3.00
2528,2170,Zotter,Austria,2018,Congo,Mountains of the Moon,70.0,3.0,"B,S,C","fatty, mild nuts, mild fruit",3.25
2529,2170,Zotter,Austria,2018,Belize,Maya Mtn,72.0,3.0,"B,S,C","muted, roasty, accessible",3.50

In [9]:
# Descripción estadística de los datos
df.describe()

                id  year_reviewed  cocoa_percent  num_ingredients       rating
count  2530.000000    2530.000000    2530.000000      2443.000000  2530.000000
mean   1429.800791    2014.374308      71.639723         3.041343     3.196344
std     757.648556       3.968267       5.616724         0.913728     0.445321
min       5.000000    2006.000000      42.000000         1.000000     1.000000
25%     802.000000    2012.000000      70.000000         2.000000     3.000000
50%    1454.000000    2015.000000      70.000000         3.000000     3.250000
75%    2079.000000    2018.000000      74.000000         4.000000     3.500000
max    2712.000000    2021.000000     100.000000         6.000000     4.000000